<div class="container">
  <div class="card-deck-wrapper">
    <div class="card-deck">
 <% @plan.each do |plan| %>


            <div class="card card-long text-center">
              <%= cl_image_tag plan.img.path, class:"card-img-top cardy", alt:"Card image cap" %>
              <div class="card-block"><%= plan.name %> <br>
              <%= plan.author %><br>
             <%= link_to "show", plan_path(plan), class:"btn btn-sm btn-warning"%></div>
            </div>

    <% end %>
    </div>
  </div>
</div>